@model ClientProject.Models.HelpPopover

<button type="button"
        class="btn btn-sm btn-outline-secondary"
        data-bs-toggle="popover"
        data-bs-trigger="click"
        data-bs-content="@Model.Content"
        @(string.IsNullOrEmpty(Model.Title) ? "" : $"title=\"{Model.Title}\"")>
	?
</button>